<div class="col">
  <div class="card shadow-sm">
    <%# {{< placeholder width="100%" height="225" background="#55595c" color="#eceeef" class="card-img-top" text="Thumbnail" >}} %>
    <img width="100%" height="100%" src="<%= image_src %>" class="card-img-top" alt="this is an image">
    <div class="card-body min-height">
      <p class="card-text"><%= title %></p>
      <div class="d-flex justify-content-between align-items-center">
        <%# <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
        </div>
        <small class="text-muted">9 mins</small> %>
      </div>
    </div>
  </div>
</div>

<style>
  .min-height {
    min-height: 7.5em;
  }
</style>