<nav id="navbar_top" class="navbar bg-navbar">
  <div class="navbar-elements mb-2">
    <div class="navbar-elements mb-3 mt-2">
        <%= image_tag("marvel_logo") %>
    </div>
    <div>
      <%= form_with url: search_character_path, method: :post do |form| %>
        <%= form.text_field :name, placeholder: 'deadpool', class: "form-control me-2" %>
      <% end %>
    </div>
  </div>
</nav>

<style>
  .bg-navbar {
    background-color: #de0000 !important;
    opacity: 0.9;
  }

  .navbar-elements {
    align-items: center !important;
    margin: auto;
    width: 30%;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function(){
    window.addEventListener('scroll', function() {
        if (window.scrollY > 0) {
          document.getElementById('navbar_top').classList.add('fixed-top');
          // add padding top to show content behind navbar
          navbar_height = document.querySelector('.navbar').offsetHeight;
          document.body.style.paddingTop = navbar_height + 'px';
        } else {
          document.getElementById('navbar_top').classList.remove('fixed-top');
          // remove padding top from body
          document.body.style.paddingTop = '0';
        } 
    });
  }); 
</script>