<%= paginator.render do %>
  <nav>
    <ul class="row justify-content-between ps-0">
      <div class="col-3">
        <%= prev_page_tag unless current_page.first? %>
      </div>
      <div class="col-3">
        <%= next_page_tag unless current_page.last? %>
      </div>
    </ul>
  </nav>
<% end %>

<style>
  .page-link {
    color: #de0000;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
  }

  .page-link:hover {
    color: #ff3f3f;
  }
</style>